<%- include('_head.ejs') -%>
        <section>
            <div>
                <h2>Register or Login with existing account to view user exclusive content.</h2>
                <p><a href="/success">View user exclusive page!</a></p>
            </div>
        </section>
    </body>
</html>