<%- include('_head.ejs') -%>
        <section>
            <div>
                <h2>Success</h2>
                <p>If you're viewing this it means you must have made and logged in with an account. How about you test out the logout functionality.</p>
            </div>
        </section>
    </body>
</html>